header.header
  .header__inner
    .header__logo
      a(href="#")
        img(src='img/logo-s.png')
    ul.header__menu
      li.header__menu-item
        a.header__menu-link(href="#") Главная
      li.header__menu-item
        a.header__menu-link(href="#") Ремонт
      li.header__menu-item
        a.header__menu-link(href="#") Новости
      li.header__menu-item
        a.header__menu-link(href="#") Контакты
      li.header__menu-item
        a.header__menu-link.mobile(href="#") Войти

    .header__info
      .header__info-name.header__info-name--schedule График работы
      .header__info-txt пн-пт-9-18 сб: 10-14

    .header__info
      .header__info-name.header__info-name--phone Телефоны
      .header__info-txt
        a(href="tel:+380671234567") +38(067) 123 45 67

    .header__callme-wrap
      .header__callme-wrap-top
        a(href="#").header__callme Перезвонить мне
      .header__callme-wrap-bottom
        a(href="#").header__login Войти


    a(href="#").header__cart
      include ../../img/cart.svg
      .header__cart-count
        span 1

    a(href="#").header__menu-btn




