extends _layout

block vars
  - var pageTitle = "Home page";
  - var pageClass = "homepage loadpage";
  - var pageActive = "homepage";

block content
  //.webp-img(data-webp="./img/Rectangle5.webp" data-img="./img/Rectangle5.jpg")

    <picture>
      <source srcset="./img/awesomeWebPImage.webp" type="image/webp">
      <source srcset="./img/creakyOldJPEG.jpg" type="image/jpeg">
      <img src="./img/creakyOldJPEG.jpg" alt="Alt Text!">
    </picture>

  div.main-wrap
    .home-slider.owl-carousel
      .home-slider__item
        img(src="img/bunner.jpg")
      .home-slider__item
        img(src="img/bunner.jpg")
      .home-slider__item
        img(src="img/bunner.jpg")
      .home-slider__item
        img(src="img/bunner.jpg")

    .home-how-we
      .block-wrap
        .home-how-we__title.site-title Почкму все выбирают нас?
        .home-how-we__subtitle Мы решаем ваши проблемы с гарантией результата!
        .home-how-we__items
          .home-how-we__item
            a(href="#")
              .home-how-we__item-img
                img(src="img/s1.jpg")
              .home-how-we__item-title 24/7
              .home-how-we__item-txt Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой"
          .home-how-we__item
            a(href="#")
              .home-how-we__item-img
                img(src="img/s1.jpg")
              .home-how-we__item-title Вовремя
              .home-how-we__item-txt Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой"
          .home-how-we__item
            a(href="#")
              .home-how-we__item-img
                img(src="img/s1.jpg")
              .home-how-we__item-title Быстро
              .home-how-we__item-txt Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой"


    .home-problem
      .block-wrap
        .home-problem__title.site-title Переложите свои проблемы
        .home-problem__items
          .home-problem__item
            .home-problem__img
              img(src="img/ic1.jpg")
            .home-problem__item-title 12 лет
            .home-problem__item-txt Lorem Ipsum - это текст-"рыба"
          .home-problem__item
            .home-problem__img
              img(src="img/ic2.jpg")
            .home-problem__item-title 12 лет
            .home-problem__item-txt Lorem Ipsum - это текст-"рыба"
          .home-problem__item
            .home-problem__img
              img(src="img/ic3.jpg")
            .home-problem__item-title 12 лет
            .home-problem__item-txt Lorem Ipsum - это текст-"рыба"

    .home-partners
      .block-wrap
        .home-partners__title.site-title наши партнеры
        .home-partners__slider.owl-carousel
          .home-partners__slider-item
            img(src="./img/b1.jpg")
          .home-partners__slider-item
            img(src="./img/b2.jpg")
          .home-partners__slider-item
            img(src="./img/b3.jpg")
          .home-partners__slider-item
            img(src="./img/b4.jpg")
          .home-partners__slider-item
            img(src="./img/b5.jpg")
          .home-partners__slider-item
            img(src="./img/b5.jpg")

    .home-reviews
      .block-wrap
        .home-reviews__title.site-title отзывы клиентов
        .home-reviews__slider.owl-carousel
          .home-reviews__item
            .home-reviews__img
              img(src="img/comments.jpg")
            .home-reviews__name Фамилия Имя
            a(href="#").home-reviews__fb fb.com/login
            .home-reviews__txt Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
            a(href="#").home-reviews__link Читать полностью
          .home-reviews__item
            .home-reviews__img
              img(src="img/comments.jpg")
            .home-reviews__name Фамилия Имя
            a(href="#").home-reviews__fb fb.com/login
            .home-reviews__txt Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
            a(href="#").home-reviews__link Читать полностью
          .home-reviews__item
            .home-reviews__img
              img(src="img/comments.jpg")
            .home-reviews__name Фамилия Имя
            a(href="#").home-reviews__fb fb.com/login
            .home-reviews__txt Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
            a(href="#").home-reviews__link Читать полностью

    .home-certificate
      .block-wrap
        .home-reviews__title.site-title Наши сертификаты
        .home-certificate__slider.owl-carousel
          a(href="#").home-certificate__slide
            img(src="img/sert.jpg")
          a(href="#").home-certificate__slide
            img(src="img/sert.jpg")
          a(href="#").home-certificate__slide
            img(src="img/sert.jpg")
          a(href="#").home-certificate__slide
            img(src="img/sert.jpg")
          a(href="#").home-certificate__slide
            img(src="img/sert.jpg")
          a(href="#").home-certificate__slide
            img(src="img/sert.jpg")
          a(href="#").home-certificate__slide
            img(src="img/sert.jpg")


